<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyPie Derby</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <nav class="d-flex justify-content-between p-3 align-items-center">
        <h1>PyPie Derby</h1>
        <a href="/" class="btn btn-primary">Dashboard</a>
        <a class="btn btn-danger" href="/logout">Logout</a>
    </nav>
    <div class="container p-5">
        <table class="table m-auto w-50">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">PyPie by</th>
                    <th scope="col">Votes</th>
                </tr>
            </thead>
            <tbody>
                {% for pie in allPies %}
                <tr>
                    <th scope="row"><a href="/pie/{{pie.id}}">{{pie.name}}</a></th>
                    <th scope="row">{{pie.first_name}} {{pie.last_name}}</th>
                    <th scope="row">{{pie.votesNum}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>

</html>